TERM=xterm-256color
npm_config_prefix=$HOME/.local

DOTFILES_DIR = "{{ vars.DOTFILES_DIR }}"
USER_FULLNAME = "{{ vars.USER_FULLNAME }}"
USER_EMAIL = "{{ vars.USER_FULLNAME }}"
SECOND_BRAIN = "{{ vars.SECOND_BRAIN }}"

